<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.afan.springcloud.dao.DeptDao">
    <resultMap id="deptMap" type="Dept">
        <result column="dbsource" property="db_source"></result>

    </resultMap>

    <select id="findById" resultMap="deptMap" parameterType="Long">
        select deptno,dname,dbsource from dept where deptno=#{deptno};
    </select>
    <select id="findAll" resultMap="deptMap">
        select deptno,dname,dbsource from springcloudstu3.dept;
    </select>
    <insert id="addDept" parameterType="Dept">
        INSERT INTO dept(dname,dbsource) VALUES(#{dname},DATABASE());
    </insert>

</mapper>

